{% extends 'home/base.html' %}
{% load static %}

{% block headSection %}
<link rel="stylesheet" href={% static 'home/homePage.css' %} />
{% endblock headSection %}

{% block content %}
<div id="main">
<!Animation>
<div class="area">
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
</div >
<! Animation end>

<ui class="nav">
    <li> <a href={% url 'register type' %} class="badge">Register</a> </li>
    <li> <a href={% url 'login type' %} class="badge">Login</a> </li>
    <li> <a href="#" class="badge">Blog</a> </li>
    <li> <a href="#" class="badge">Contact</a> </li>
</ui>

<h1 id="mainText" class="display-2"> eduHub </h1>
<h1 id="mainTextShadow" class="display-2"> eduHub </h1>

<div id="container" class="container p-2 d-flex flex-column">
</div>

<div id="footer" class="container-fluid bg-dark">
</div>
</div>
 <script src={% static 'home/homePage.js'%}></script>
{% endblock content %}