body {
	padding: 0;
}

body::-webkit-scrollbar {
	display: none;
}

.title {
	margin-left: 2vw;
	margin-top: 3vh;
	margin-bottom: 5vh;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
	position: absolute;
	top: 25px;
	right: 25px;
	display: block;
	flex-direction: row;
}
.nav li {
	font-size: x-large;
}

.nav li a {
	color: white;
}
.nav .button {
	display: none;
}

#footer {
	margin-top: 25px;
	min-height: 20vh;
	z-index: 3;
}

@media only screen and (max-width: 900px) {
	.display-2 {
		font-size: 12vw;
	}
	.display-4 {
		font-size: 8vw;
	}
	.nav {
		top: 15px;
		right: 15px;
		flex-direction: column;
	}
	.nav .link {
		display: none;
		animation: links-open 0.5s;
	}
	.nav .button {
		display: inline-block;
	}
}

@keyframes links-open {
	from {
		font-size: 0;
	}
	to {
	}
}
@keyframes links-close {
	0% {
	}

	50% {
		font-size: 0;
	}
	100% {
		font-size: 0;
	}
}
