#login-cont {
	box-shadow: 0 1px 3px black;
	max-width: 100vw;
	flex-direction: row;
}

#element-cont {
	width: calc(40vw - 15px);
	height: 50vh;
	min-width: 200px;
}

#login {
	margin-left: 10vw;
}
#footer {
	margin-top: 25px;
	min-height: 20vh;
	z-index: 3;
}

@media only screen and (max-width: 450px) {
	#login-cont {
		flex-direction: column;
	}
	.display-2 {
		font-size: 12vw;
	}
	.display-4 {
		font-size: 8vw;
	}
	#element-cont {
		height: auto;
		width: 80%;
	}
}
