{% extends 'home/base.html' %}
{% load static %}
{% block  headSection %}
    <link rel="stylesheet" href={%static 'user/base.css'%} />
    {% block stylesheet%}
    {% endblock%}
{% endblock headSection%}
{% block content %}
    <h1 class="display-2 title text-info">eduHub</h1>
    
    {% comment %} top right nav bar {% endcomment %}
    <ui class="nav btn bg-primary d-flex p-0 m-0" id="nav">
    <li class="button"><button class="material-icons btn btn-primary p-0 m-0" onclick="navDisp()">list</button></li>
    <li class="link"> <a href="/" class="badge ml-3 mr-3">Home</a> </li>
    <li class="link"> <a href= {% url 'register type' %} class="badge ml-3 mr-3">Register</a> </li>
    <li class="link"> <a href= {% url 'login type' %} class="badge ml-3 mr-3">Login</a> </li>
    <li class="link"> <a href="#" class="badge ml-3 mr-3">Blog</a> </li>
    <li class="link"> <a href="#" class="badge ml-3 mr-3">Contact</a> </li>
    </ui>

    {% block body %}
    {% endblock body %}

    <div id="footer" class="container-fluid bg-dark">
</div>
<script>
var nav = document.getElementById('nav');

//For responsive nav bar top right
function navDisp(event){
    var q = document.querySelectorAll('.link');
    q.forEach((link, index)=>{
        if( link.style.display == ''){  //opens and closes with animation
            link.style.animationDuration='0.5s';
            link.style.animationName='';
            link.style.display = 'block';
        }
        else{
            link.style.animationDuration='1s';  //Extra time to incorporat system lag animation is only of 0.5s
            link.style.animationName='links-close';
            setTimeout(()=>link.style.display = '', 500); 
            }
    }
    )

}
</script>
{% endblock content %}
